
    <div class="row g-0">
        <div class="col-md-9">
            <div>
                <owl-carousel-o [options]="customOptions">

                    <ng-template carouselSlide><img height="450" class=" object-fit-sm-contain  object-fit-md-cover"
                            src="assets/imges/images/slide-1.jpeg" alt=""></ng-template>
                    <ng-template carouselSlide><img height="450" class="object-fit-md-cover object-fit-sm-contain"
                            src="assets/imges/images/main-slider-2.jpeg " alt=""></ng-template>

                    <ng-template carouselSlide><img height="450" class=" object-fit-md-cover  object-fit-sm-contain"
                            src="assets/imges/images/blog-img-3.jpeg" alt=""></ng-template>
                </owl-carousel-o>

            </div>

        </div>





        <div class="col-md-3">
            <div class="d-flex flex-column ">
                <img height="225" class="object-fit-cover" src="assets/imges/images/main-slider-1.jpeg" alt="">
                <img height="225" class="object-fit-cover" src="assets/imges/images/main-slider-3.jpeg" alt="">

            </div>
        </div>
    </div>
