.b-gg {
  background-image: url(/assets/imges/images/rm222batch5-mind-06.jpg);
  background-position: center center;
  background-size: cover;
}

.box {
  box-shadow:
    0 2.8px 2.2px rgba(10, 173, 10, 0.034),
    0 6.7px 5.3px rgba(10, 173, 10, 0.048),
    0 12.5px 10px rgba(10, 173, 10, 0.06),
    0 22.3px 17.9px rgba(10, 173, 10, 0.072),
    0 41.8px 33.4px rgba(10, 173, 10, 0.086),
    0 20px 50px rgba(10, 173, 10, 0.12);



  min-height: 200px;
  width: 50vw;
  margin: 100px auto;
  background: white;
  border-radius: 5px;
}


body {
  background: #EEF2F7;
}

@media only screen and (max-width: 600px) {
  .b-gg {
    background-image: url(src/assets/imges/images/rm222batch5-mind-mobile.jpg);
    background-size: cover;
  }
}