<div class="b-gg vh-100 overflow-hidden">
    <div class=" mx-md-5  mt-3 pt-1">
        <div class="w-75 mx-auto box">
            <div class="p-3 mx-md-auto my-md-5 ">

                <form (ngSubmit)="handleRegister(registerForm)" [formGroup]="registerForm">
                    <h3 class="fw-bold mb-3">
                        Register Now :
                    </h3>
                    <div *ngIf="apiErrorMessage" class="alert alert-danger text-center">{{apiErrorMessage}}</div>
                    <label class="fw-bold " for="username">UserName :</label>
                    <input formControlName="name" class="form-control" id="username" type="text">
                    <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched"
                        class="text-danger">
                        <p *ngIf="registerForm.get('name')?.getError('required')" class="my-0">name is required</p>
                        <p *ngIf="registerForm.get('name')?.getError('maxlength')" class="my-0">maxlength name is 20
                        </p>
                        <p *ngIf="registerForm.get('name')?.getError('minlength')" class="my-0">minlength name is 3
                        </p>

                    </div>

                    <label class="fw-bold mt-3" for="useremail ">Email :</label>
                    <input formControlName="email" class="form-control" id="useremail " type="email">

                    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                        class="text-danger">
                        <p *ngIf="registerForm.get('email')?.getError('required')" class="my-0">email is required
                        </p>
                        <p *ngIf="registerForm.get('email')?.getError('email')" class="my-0">Enter valid email</p>


                    </div>

                    <label class="fw-bold mt-3" for="userpassword">Password :</label>
                    <input formControlName="password" class="form-control" id="userpassword" type="password">

                    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                        class="text-danger">
                        <p *ngIf="registerForm.get('password')?.getError('required')" class="my-0">Password is
                            required
                        </p>
                        <p *ngIf="registerForm.get('password')?.getError('pattern')" class="my-0">Enter a complex
                            password
                        </p>


                    </div>

                    <label class="fw-bold mt-3" for="userrepassword">Repassword :</label>
                    <input formControlName="rePassword" class="form-control" id="userrepassword" type="password">

                    <div *ngIf="registerForm.get('rePassword')?.invalid && registerForm.get('rePassword')?.touched"
                        class="text-danger">
                        <p *ngIf="registerForm.get('rePassword')?.getError('required')" class="my-0">Password is
                            required
                        </p>
                        <p *ngIf="registerForm.get('rePassword')?.getError('pattern')" class="my-0">Enter a complex
                            password
                        </p>


                    </div>
                    <p *ngIf="registerForm.getError('passworddisMatch') && registerForm.get('password')?.dirty && registerForm.get('rePassword')?.dirty"
                        class="text-danger">password doesn't match repassword</p>



                    <label class="fw-bold mt-3" for="userphone">Phone</label>
                    <input formControlName="phone" class="form-control" id="userphone" type="tel">
                    <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched"
                        class="text-danger">
                        <p *ngIf="registerForm.get('phone')?.getError('required')" class="my-0">Password is required
                        </p>
                        <p *ngIf="registerForm.get('phone')?.getError('pattern')" class="my-0">Enter valid phone
                        </p>


                    </div>
                    <button [disabled]="registerForm.invalid ||isLoading" class="btn bg-main text-light my-3">
                        <span *ngIf="!isLoading">Register</span>
                        <span *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>