<div class="b-gg vh-100 overflow-hidden">

    <div class="mx-md-5 mt-5 pt-5">
        <div class="w-75 box ">
            <div class=" p-3 mx-auto my-5">

                <form (ngSubmit)="handelLogin(loginForm)" [formGroup]="loginForm">
                    <h3 class="fw-bold mb-3">
                        Login Now:
                    </h3>
                    <div *ngIf="apiErrorMessage" class="alert alert-danger text-center">{{apiErrorMessage}}</div>


                    <label class="fw-bold" for="useremail ">Email :</label>
                    <input formControlName="email" class="form-control" id="useremail " type="email">

                    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
                        <p *ngIf="loginForm.get('email')?.getError('required')" class="my-0">email is required</p>
                        <p *ngIf="loginForm.get('email')?.getError('email')" class="my-0">Enter valid email</p>


                    </div>

                    <label class="fw-bold mt-3"  for="userpassword">Password :</label>
                    <input formControlName="password" class="form-control" id="userpassword" type="password">

                    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                        class="text-danger">
                        <p *ngIf="loginForm.get('password')?.getError('required')" class="my-0">Password is required</p>
                        <p *ngIf="loginForm.get('password')?.getError('pattern')" class="my-0">Enter a complex password
                        </p>


                    </div>

                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center text-center justify-content-center">
                            <button [disabled]="loginForm.invalid || isLoading" class="btn bg-main text-light my-3">
                                <span *ngIf="!isLoading">Send</span>
                                <span *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></span>
                            </button>
                            <a class="ms-2 text-secondary " routerLink="/forget-password">forget password?</a>
                        </div>
                        <div class="border mt-2 text-center ms-1 rounded-3">
                            <a class=" p-md-2 " routerLink="/register">create new account <i class="fa-solid fa-plus"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>