<div class="container mt-5 pt-5">
    <div class="w-50 mx-auto my-5">
        <form (submit)="handelshappingAddress(shappingAddressForm)" [formGroup]="shappingAddressForm">
            <h3 class="text-main h2 fw-bold my-3">
                Shapping Address :
            </h3>

            <label class="mt-3" for="details">Details :</label>
            <input class="form-control " id="details" type="text" formControlName="details">

            <div *ngIf="shappingAddressForm.get('details')?.invalid && shappingAddressForm.get('details')?.touched"
                class="text-danger">
                <p *ngIf="shappingAddressForm.get('details')?.getError('required')" class="my-0">details is required</p>
            </div>

            <label class="mt-3" for="userphone">phone :</label>
            <input formControlName="phone" class="form-control" id="userphone" type="tel">
            <div *ngIf="shappingAddressForm.get('phone')?.invalid && shappingAddressForm.get('phone')?.touched"
                class="text-danger">
                <p *ngIf="shappingAddressForm.get('phone')?.getError('required')" class="my-0">Password is required</p>
                <p *ngIf="shappingAddressForm.get('phone')?.getError('pattern')" class="my-0">Enter valid phone </p>

            </div>

            <label class="mt-3" for="city">City :</label>
            <input class="form-control " id="city" type="text" formControlName="city">
            <div *ngIf="shappingAddressForm.get('city')?.invalid && shappingAddressForm.get('city')?.touched"
                class="text-danger">
                <p *ngIf="shappingAddressForm.get('city')?.getError('required')" class="my-0">city is required</p>
            </div>


            <button class="btn bg-main text-white my-3">Pay Now</button>
        </form>
    </div>
</div>