<div class="container mt-5 pt-5">
    <div class="w-50 mx-auto my-5">

        <form (ngSubmit)="handelResetPassword(resetPassword)" [formGroup]="resetPassword">
            <h3>
                Reset Password :
            </h3>
            <div *ngIf="apiErrorMessage" class="alert alert-danger text-center">{{apiErrorMessage}}</div>


            <label for="useremail ">email :</label>
            <input formControlName="email" class="form-control" id="useremail " type="email">

            <div *ngIf="resetPassword.get('email')?.invalid && resetPassword.get('email')?.touched" class="text-danger">
                <p *ngIf="resetPassword.get('email')?.getError('required')" class="my-0">email is required</p>
                <p *ngIf="resetPassword.get('email')?.getError('email')" class="my-0">Enter valid email</p>


            </div>

            <label for="userpassword">NewPassword :</label>
            <input formControlName="newPassword" class="form-control" id="userpassword" type="password">

            <div *ngIf="resetPassword.get('newPassword')?.invalid && resetPassword.get('newPassword')?.touched"
                class="text-danger">
                <p *ngIf="resetPassword.get('newPassword')?.getError('required')" class="my-0">newPassword is required
                </p>
                <p *ngIf="resetPassword.get('newPassword')?.getError('pattern')" class="my-0">Enter a complex password
                </p>


            </div>



            <button [disabled]="resetPassword.invalid || isLoading" class="btn bg-main text-light my-3">
                <span *ngIf="!isLoading">Send</span>
                <span *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></span>
            </button>
        </form>
    </div>
</div>