<div *ngIf="isLoading"
    class=" position-fixed top-0 end-0 start-0 bottom-0 bg-white vh-100 zeindex d-flex align-items-center justify-content-center">
    <div class="preloader d-flex align-items-center justify-content-center">
        <svg class="cart" role="img" aria-label="Shopping cart line animation" viewBox="0 0 128 128" width="128px" height="128px" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="8">
                <g class="cart__track" stroke="hsla(0,10%,10%,0.1)">
                    <polyline points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" />
                    <circle cx="43" cy="111" r="13" />
                    <circle cx="102" cy="111" r="13" />
                </g>
                <g class="cart__lines" stroke="currentColor">
                    <polyline class="cart__top" points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" stroke-dasharray="338 338" stroke-dashoffset="-338" />
                    <g class="cart__wheel1" transform="rotate(-90,43,111)">
                        <circle class="cart__wheel-stroke" cx="43" cy="111" r="13" stroke-dasharray="81.68 81.68" stroke-dashoffset="81.68" />
                    </g>
                    <g class="cart__wheel2" transform="rotate(90,102,111)">
                        <circle class="cart__wheel-stroke" cx="102" cy="111" r="13" stroke-dasharray="81.68 81.68" stroke-dashoffset="81.68" />
                    </g>
                </g>
            </g>
        </svg>
        
    </div>
</div>
<div class="container mt-5 pt-5">
    <div class="row align-items-center">
        <div class="col-md-4">
            <div class="border p-4">
                <owl-carousel-o [options]="customOptions">

                    <ng-container *ngFor="let productImg of productDetails?.images">
                        <ng-template carouselSlide>
                            <img class="w-100" [src]="productImg" [alt]="productDetails?.title">
                        </ng-template>
                    </ng-container>

                </owl-carousel-o>

            </div>

        </div>
        <div class="col-md-8">
            <div class="p-4">
                <h3 class="fw-bold">{{productDetails?.title}}</h3>
                <p class="my-3">{{productDetails?.description}}</p>
                <span class="font-sm text-main fw-bold">{{productDetails?.category?.name}}</span>
                <div class="my-3">
                    <p class="my-0 font-sm fw-bold text-secondary">Available Quatity : {{productDetails?.quantity}}</p>
                    <p class="my-0 font-sm fw-bold text-secondary">Brand : {{productDetails?.brand?.name}}</p>
                </div>

                <div class="d-flex justify-content-between">
                    <span class="font-sm fw-bold">{{productDetails?.price}} EGP</span>
                    <div>
                        <i class="fa-solid fa-star rating-color mx-2"></i>
                        <span class="fw-bold font-sm">{{productDetails?.ratingsAverage}}</span>
                    </div>

                </div>

                <div class="d-flex">
                
                    <button (click)="addToCart(productDetails?._id)" class="btn bg-main w-50 mx-2 text-white mt-3">+ Add To
                        Cart</button>
                    <button (click)="addTowish(productDetails?._id)" class="btn bg-danger w-50 text-white mt-3">+ Add To
                        WishList  <i class="fa-solid fa-heart text-white"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>