.pendulum{
    position: absolute; 
   
  }
  .zeindex{
    z-index: 1000000000015165160000;
  }
  
  .pendulum_box{
    display: flex;
   
    flex: 1;
  }
  .ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #0aad0a;
    position: relative;
    transform-origin: 50% -300%;
  }
  
  .ball.first{
    animation: firstball .9s alternate ease-in infinite;
  }
  
  @keyframes firstball{
    0%{
      transform: rotate(35deg);
    }
    50%{
      transform: rotate(0deg);
    }
  }
  
  .ball.last{
    animation: lastball .9s alternate ease-out infinite;
  }
  
  @keyframes lastball{
    50%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(-35deg);
    }
  }