<div class="container  pt-5">
    <div class="d-flex align-items-center text-center justify-content-center my-2 py-5">
        <div class="d-flex flex-column align-items-center text-center justify-content-center">
            <h2 class="h1 p-0 m-0 fw-bolder text-center">All orders have been paid</h2>
            <img class="w-img " src="assets/imges/images/3905230.jpg" alt="">
            <button class="btn btn-success">
                <a class=" mt-2 mx-2 fw-bold " routerLinkActive="text-main" aria-current="page"
                        routerLink="/home">Go To Home</a>
            </button>
        </div>
    </div>
</div>