<nav class="navbar zee position-fixed w-100 top-0 navbar-expand-lg bg-body-tertiary">

    <div class="container">
        <img src="assets\imges\images\freshcart-logo.svg" alt="this is a logo cart">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-md-5 ps-md-5" id="navbarSupportedContent">
            <ul *ngIf="isLogeedUser" class="navbar-nav ms-md-5 ps-md-5 mb-2 mb-lg-0 ">
                <li class="nav-item ms-md-5 ">
                    <a class=" mt-2 mx-2 fw-bold " routerLinkActive="text-main" aria-current="page"
                        routerLink="home">Home</a>
                </li>



                <li class="nav-item ms-md-5">
                    <a class=" fw-bold mx-2 " routerLinkActive="text-main" routerLink="products">products</a>
                </li>

                <li class="nav-item ms-md-5">
                    <a class=" mt-2 mx-2 fw-bold " routerLinkActive="text-main" routerLink="categories">Categories</a>
                </li>
                <li class="nav-item ms-md-5">
                    <a class=" mt-2 mx-2 fw-bold" routerLinkActive="text-main" routerLink="brands">Brands</a>
                </li>


            </ul>
            <ul class="navbar-nav  ms-md-auto mb-2 mb-lg-0 d-flex align-items-center justify-content-center ">


                <li *ngIf="isLogeedUser" class="nav-item mx-1 mt-2">
                    <a class="nav-link position-relative" routerLinkActive="text-main" routerLink="/cart">
                        <i class="fa-solid fa-cart-shopping text-main fs-5"></i>
                        <span
                            class="position-absolute font-s mt-2 me-2 bg-main text-white top-0 startt translate-middle badge rounded-pill ">
                            {{numOfCartItems}}

                        </span></a>
                </li>
                <li *ngIf="isLogeedUser" class="nav-item mx-2 mt-2">
                    <a class="nav-link position-relative" routerLinkActive="text-main" routerLink="/wishList">
                        <i class="fa-solid fa-heart text-danger fs-5"></i>
                        <span
                            class="position-absolute font-s mt-2 me-2 bg-main text-white top-0 startt translate-middle badge rounded-pill ">
                            {{numOfWishItems}}

                        </span></a>
                </li>

                <li *ngIf="!isLogeedUser" class="nav-item">
                    <a class="nav-link mt-1" routerLinkActive="text-main" routerLink="login">Login</a>
                </li>
                <li *ngIf="!isLogeedUser" class="nav-item">
                    <a class="nav-link mt-1" routerLinkActive="text-main" routerLink="register">Register</a>
                </li>



                <div *ngIf="isLogeedUser" class="btn-group text-center p-0 m-0 border-0" role="group">
                    <button *ngIf="isLogeedUser" type="button" class="btn p-0 m-0 pt-3 dropdown-toggle border-0" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <li *ngIf="isLogeedUser" class="nav-item  p-0 m-0">
                            <a class="nav-link p-0 m-0 mt-1 w-100  fw-bold"><i class="fa-solid fa-user"></i> Hi, {{userName}}
                            </a>
                        </li>

                    </button>

                    <ul class="dropdown-menu ">
                        <li *ngIf="isLogeedUser" class="nav-item w-btn text-center">
                            <a (click)="signout()" class="nav-link dropdown-item w-btn text-center"
                                routerLink="register">SignOut</a>
                        </li>
                    </ul>
                </div>



            </ul>

        </div>
    </div>
</nav>