@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import 'ngx-toastr/toastr';

:root {
  --main-color: hsl(120, 89%, 36%);
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
  --font-family: 'Encode Sans Expanded', sans-serif;
  --rating-color: #ffc908;

  --hue: 120; /* Changed from 223 (blue) to 120 (green) */
  --bg: hsl(var(--hue),10%,90%);
  --fg: hsl(var(--hue),10%,10%);
  --primary: hsl(var(--hue),90%,55%);
  --trans-dur: 0.3s;
}





.preloader {
  text-align: center;
  max-width: 20em;
  width: 100%;
}
.preloader__text {
  position: relative;
  height: 1.5em;
}
.preloader__msg {
  animation: msg 0.3s 13.7s linear forwards;
  position: absolute;
  width: 100%;
}
.preloader__msg--last {
  animation-direction: reverse;
  animation-delay: 14s;
  visibility: hidden;
}
.cart {
  display: block;
  margin: 0 auto 1.5em auto;
  width: 8em;
  height: 8em;
}
.cart__lines,
.cart__top,
.cart__wheel1,
.cart__wheel2,
.cart__wheel-stroke {
  animation: cartLines 2s ease-in-out infinite;
}
.cart__lines {
  stroke: var(--primary);
}
.cart__top {
  animation-name: cartTop;
}
.cart__wheel1 {
  animation-name: cartWheel1;
  transform: rotate(-0.25turn);
  transform-origin: 43px 111px;
}
.cart__wheel2 {
  animation-name: cartWheel2;
  transform: rotate(0.25turn);
  transform-origin: 102px 111px;
}
.cart__wheel-stroke {
  animation-name: cartWheelStroke;
}
.cart__track {
  stroke: hsla(var(--hue),10%,10%,0.1);
  transition: stroke var(--trans-dur);
}

/* Animations */
@keyframes msg {
  from {
      opacity: 1;
      visibility: visible;
  }
  99.9% {
      opacity: 0;
      visibility: visible;
  }
  to {
      opacity: 0;
      visibility: hidden;
  }
}
@keyframes cartLines {
  from,
  to {
      opacity: 0;
  }
  8%,
  92% {
      opacity: 1;
  }
}
@keyframes cartTop {
  from {
      stroke-dashoffset: -338;
  }
  50% {
      stroke-dashoffset: 0;
  }
  to {
      stroke-dashoffset: 338;
  }
}
@keyframes cartWheel1 {
  from {
      transform: rotate(-0.25turn);
  }
  to {
      transform: rotate(2.75turn);
  }
}
@keyframes cartWheel2 {
  from {
      transform: rotate(0.25turn);
  }
  to {
      transform: rotate(3.25turn);
  }
}
@keyframes cartWheelStroke {
  from,
  to {
      stroke-dashoffset: 81.68;
  }
  50% {
      stroke-dashoffset: 40.84;
  }
}




body {
  font-family: var(--font-family) !important;
}

.rating-color {
  color: var(--rating-color);
}

.cursor-pointer {
  cursor: pointer;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}


.product:hover {
  box-shadow: var(--shadow);
  border: solid 1px var(--main-color);
}
.borrd {
  box-shadow: var(--shadow) ;
  border: solid 1px var(--main-color);
}

.product .btn {
  transition: transform 1s, opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}

.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);

}

.font-sm {
  font-size: 14px;
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color) !important;
}

.bg-main-light {
  background-color: var(--light-color) !important;
}

.bordar-main {
  border: 1px solid var(--main-color);
}


input.ng-invalid.ng-dirty {
  border: 2px red solid;

}

input.ng-valid.ng-dirty {
  border: 2px green solid;

}

input.form-control:focus {
  box-shadow: none !important;
}
/* 
.pendulum {
  position: absolute;

} */

.zeindex {
  z-index: 1000000000015165160000;
}
/* 
.pendulum_box {
  display: flex;

  flex: 1;
}

.ball {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #0aad0a;
  position: relative;
  transform-origin: 50% -300%;
}

.ball.first {
  animation: firstball .9s alternate ease-in infinite;
}

@keyframes firstball {
  0% {
    transform: rotate(35deg);
  }

  50% {
    transform: rotate(0deg);
  }
}

.ball.last {
  animation: lastball .9s alternate ease-out infinite;
}

@keyframes lastball {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-35deg);
  }
} */

.defrant {

  color: #0aad0a;
}

.hov :hover {
  background-color: red;
  color: white;
}

.hov-bloue :hover {
  background-color: #0aad0a;
  color: white;
}

.hov :hover .defrant {
  color: white;
}



.toast-container {
 
  margin-top: 37px !important;
}


.bg-home
{
    background-image: url(src/assets/imges/images/light-patten.svg);
    background-repeat: repeat-y;
    
}




