<div class="container mt-5 pt-5">
    <div class="w-50 mx-auto my-5">

        <form (ngSubmit)="handelForgetPassword(forgetPasswordForm)" [formGroup]="forgetPasswordForm">
            <h3>
                forget password :
            </h3>
            <p class="my-3 text-secondary font-sm">please Enter your email address below . we will send you a
                verification code to reset your password</p>
            <div *ngIf="apiErrorMessage" class="alert alert-danger text-center">{{apiErrorMessage}}</div>


            <label for="useremail ">email :</label>
            <input formControlName="email" class="form-control" id="useremail " type="email">

            <div *ngIf="forgetPasswordForm.get('email')?.invalid && forgetPasswordForm.get('email')?.touched"
                class="text-danger">
                <p *ngIf="forgetPasswordForm.get('email')?.getError('required')" class="my-0">email is required</p>
                <p *ngIf="forgetPasswordForm.get('email')?.getError('email')" class="my-0">Enter valid email</p>


            </div>





            <button [disabled]="forgetPasswordForm.invalid || isLoading" class="btn bg-main text-light my-3">
                <span *ngIf="!isLoading">Login</span>
                <span *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></span>
            </button>
        </form>
    </div>
</div>